.tableTdBorders tbody tr td, .tableTdBorders tbody tr th {
	border-bottom: double;
	padding: 2px 0 1px 0;
}
.tableTdBorders thead tr th {
	border-bottom: 1px #cdcdcd solid ;
}
.tableTdBorders tbody tr td,
.tableTdBorders tbody tr th{
	border-right: 1px #cdcdcd solid ;
}
/* Igual al anterior, separada por el IE */
.tableTdBorders thead tr:last-child th {
	border-right: 1px #cdcdcd solid ;
}
.tableTdBorders tbody tr td:last-child,
.tableTdBorders tbody tr th:last-child,
.tableTdBorders thead tr:last-child th:last-child {
	border-right: 3px #cdcdcd double;
}
