/*  Condicionales para IE 6 o menor*/

#rightColumn { 
	width: 760px;  /*   760px ORIGINAL */
}
#leftColumn{
	margin:0;
	padding-left: 5px;
}
#leftColumn ul { 
	margin-left: 0;
	width:145px;
	float:left;
}
#leftColumn li a { 
	width:150px; /* 150px ORIGINAL */
}
#leftColumn li a:hover { 
	width:150px; /* 150px ORIGINAL */
}
.titleMenu { 
	width:150px;
	padding-left: 10px;
	margin-left:0px;
}
#leftColumn{
	background-image:url(../images/leftcolumn_bottom.jpg);
	background-position: 5px bottom;
	background-repeat:no-repeat;
	padding-bottom: 150px;	
}
/* NEW! */
#divSearch{
	margin: 0 0 0 18px;
}
fieldset {
	margin-bottom: 3.5em; /*    2em ORIGINAL */
}
/* Image Buttons and Links */
input.iconActivate, input.iconAdd, input.iconBack, input.iconBudget, input.iconDelete, input.iconDetail, input.iconDownload,
input.iconEdit, input.iconEmail, input.iconFollow, input.iconGoTo, input.iconGraph, input.iconHelp, input.iconHistory, input.iconIndicator,
input.iconInfo, input.iconManufacture, input.iconOrder, input.iconPassword, input.iconPlus, input.iconRestore, input.iconRestoreFromServer,
input.iconSendMultiple, input.iconStoreInServer, input.iconStoreLocal, input.iconThumbnail, input.iconUpload,
input.iconView, input.iconViewGantt, input.iconWeight, input.iconAddToCart, input.iconRemoveFromCart, input.iconUpdateCart,
input.iconSetPrivileges, input.iconOwner, input.iconRead, input.iconUnread {
	line-height: 999px;
	vertical-align: top;
	overflow: hidden;
}
#loginButton { 
	line-height: 999px;
	vertical-align: top;
	overflow: hidden;
}
