/* CSS Document */

#leftColumn li a { 
	width:135px; /* 150px ORIGINAL */
}
#leftColumn li a:hover { 
	width:135px; /* 150px ORIGINAL */
}
#rightColumn { 
	width: 760px;  /*   760px ORIGINAL */
}
fieldset {
	margin-bottom: 3.5em; /*    2em ORIGINAL */
}
