/* CSS   */

* { padding: 0; margin: 0; 
 font-family: Arial, Helvetica, sans-serif, Geneva;
 }

body {
	 /* background-color:*/
}

/*  LOGIN  -----------------------------------------------*/
#login { 
	float:left;
	display:block;
	margin:40px auto 0 auto;
	width:100%;
	padding:0;
	text-align:center;
/*	background-image:
	background-position:
	background-repeat:*/
}
#loginTop { 
	width: 360px;
	height: 104px;
	padding: 0;
	margin: 0 auto;

/*	background-image:
	background-position: 
	background-repeat:*/
}

#loginContent { 
	width: 360px;
	height: auto;	
	margin: auto;
	text-align:left;
}
#loginContent h1{ 
/*	color: */
	font-weight: bold;
	font-size: 1.4em;
	padding-left: 25px;
}
#loginContent p{ 
/*	color: */
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}

#loginContent input { 
	width: 300px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 1.2em;

/*	border: */	
}

#loginButton { 
	width: 100px;
	height: 55px;
	margin: 0 auto 0 auto;
	background-color: transparent;
	border: none;
	font-size: 0px;
	cursor: pointer;	

/*	background-image:
	background-position:
	background-repeat:*/
}

#loginBottom { 
	width: 360px;
	height: 162px;	
	margin: auto;
	padding: 0;
	vertical-align: bottom;
/*	background-image:
	background-position:
	background-repeat:*/
}

/*  /LOGIN  -----------------------------------------------*/

#wrapper { 
	margin: 0 auto;
	width: 955px;
	padding: 0 0 0 0; /*  1px necesary to show margin-bottom of footer n FF*/
	/* background-color:*/
	/* background-image: */
}
#header {
	width: 955px;
	height: 98px;
	margin: 0;
	padding: 0;
	display: block;
/*	background-color: */
/*	background-image: */
/*	background-position: */
/*	background-repeat: */ 
}
#header a{
	width:115px;
	height: 63px;
	 float: left;
	 display: block;
	 margin: 38px 0 0 8px;
}
#header a strong{
	 display:none;
}

#contentWrapper { 
	width: 955px;
	margin: auto;
	padding: 0px 0px 0px 0px; /*  1px necesary to show margin-bottom of footer n FF*/
	/* background-color:*/
	/* background-image: */
}
#contentCloser { 
	width: 955px;
	margin: auto;
	clear: both;
	display: block;
	/* background-color:*/
	/* background-image: */
}

#leftColumn { 
	clear: both;
	width: 150px;
	float: left;
	border: none;
	margin: 0px 5px 5px 5px;
	padding: 0px;
/*	color: */	
}

#rightColumn { 
	float: right;
	width: 760px;   /* ie6*/ /*ie7*/ 
	display: inline;
	border: none;
	margin: 0 5px 5px 0;
	padding: 15px;
/*	color: */
/*	background: */
}

#footer { 
	width: 945px; /* 955px - 5leftBorder - 5px rightBorder*/
	height: 20px;
	clear: both;
	border: none;
/*	margin: 0px 5px 0px 5px; */
/*	background-color:*/	
/*	border-bottom:*/
}

#footer p{
	font-size:1em;
	text-align:right;
	padding: 3px 5px 0 0 ;
/*	color: */	
}

/* -------------------------------------------------------------------*/ 

/* CONTENIDO   */

/* -------------------------------------------------------------------*/ 
#rightColumn h1{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.7em;
	font-weight:bold;
	padding-bottom: 5px;
	margin-bottom:15px;
/*	color: 
	border-bottom:    */	
}
#rightColumn h2{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size:1.2em;
	font-weight:normal;
	margin-bottom: 5px;
/*	color: */	
}
#rightColumn h3 {
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.5em;
	font-weight:bold;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom:15px;
/*	color:     */	
}
#rightColumn h4 {
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.4em;
	font-weight:bold;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom:15px;
/*	color:     */	
}
#rightColumn h2 a:link, #rightColumn h2 a:visited{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: inherit;
	font-weight:normal;
	text-decoration:none;
/*	color: */	
}
#rightColumn h2 a:hover, #rightColumn h2 a:active{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: inherit;
	font-weight:normal;
	text-decoration:underline;	
/*	color: */	
}



#rightColumn p{
	width: 570px;
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.2em; /*NEW, px to em*/
	margin-bottom: 10px;
	padding-right: 10px;
/*	color:*/
/*	border-right: */
}
.paragraphEdit {
	padding-left: 25px;
/*	background-image:url(../images/icon_write.gif);
	background-repeat:no-repeat;
	background-position:left top;*/	
}

/* -------------------------------------------------------------------*/ 
/*  TABLES
/* -------------------------------------------------------------------*/ 
.table1{
	height: 25px;
	margin:  10px 0 20px 0;
	font-family:Arial, Helvetica, sans-serif, Geneva;
/*	color:	
	background-color: */
	}





/* TD with FINAL BUTTON ------------------------------------ */
.tdButton{
	height: 45px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:0;
/*	background-color: */	
}
a.tdAgregar:link, 
a.tdAgregar:visited  {
	width:auto;
	display:inline;
	padding: 5px 15px 3px 15px;
	margin: 0 0 0 3px;
	font-size: 1.1em;

	font-weight:bold;
	vertical-align: middle;	
	text-decoration:none;

/*	color: 
	border: 	
	background-image:
	background-position:
	background-repeat: 	
	background-color: */	
}

a.tdAgregar:hover, 
a.tdAgregar:active  {
/*	color: 
	background-color:
	background-image: */
}
/* /TD with FINAL BUTTON ------------------------------------ */



/*  TD 2 colores -------------------------------------*/
.line1, .line2 {
	padding: 3px 10px 3px 10px;
/*	color:
	background-color:*/
	}

.line2{
/*	background-color: */
}

.col1, .col2, .colGeneral{
	padding: 3px 10px 3px 10px;
/*	background-color: 
	color:	*/
}



/* BOTONES EDICION   ----------------------------*/
a.datos:link, a.datos:visited, a.editar:link, a.editar:visited, a.borrar:link, a.borrar:visited {
	font-weight:bold;
	text-decoration:underline;
	padding:1px 3px 1px 3px;
}
a.datos:link, a.datos:visited  {
/*	color: */}
a.editar:link, a.editar:visited {
/*	color: */}
a.borrar:link, a.borrar:visited {
/*	color: */}

a.datos:hover, a.datos:active,
a.editar:hover, a.editar:active,
a.borrar:hover, a.borrar:active {
	font-weight:bold;
	text-decoration:underline;
}
a.datos:hover, a.datos:active  {
/*	background-color:;
	color: */}
a.editar:hover, a.editar:active {
/*	background-color;
	color: */}
a.borrar:hover, a.borrar:active {
/*	background-color: 
	color: */}
	
	
/*   OTROS LINKS   ------------------------*/

/* posiciona el link de "AGREGAR NUEVA ..." y VOLVER */
.rightLink{
	float:right;
	display:inline;
	clear:left;
}
/* BOTON AGREGAR NUEVA ...  */
a.agregarNueva:link, a.agregarNueva:visited {
	height:15px;
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
/*	background-image:
	background-position:
	background-repeat:*/
}

a.agregarNueva:hover, a.agregarNueva:active {
/*	color: */}
/* /BOTON AGREGAR NUEVA ...  */


/* BOTON VOLVER  */
a.volver:link, a.volver:visited {
	font-size:1.1em;
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
}

a.volver:hover, a.volver:active {
	font-size:1.1em;
/*	color: */}
/* /BOTON VOLVER  */



/* BOTON EDITAR ...  */
a.editarRight:link, a.editarRight:visited {
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
/*	background-image:
	background-position:
	background-repeat: */
}

a.editarRight:hover, a.editarRight:active {
/*	color:  */}
/* /BOTON AGREGAR NUEVA ...  */


	
/* PAGINADO    ----------------------------*/
.pages{	
	height: 37px;
	font-size: 0.9em;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
/*	color:
	background-color: */
}

a.pageLink:link, a.pageLink:visited {
	font-weight:normal;
	text-decoration:underline;
	margin: 0 2px;
/*	color:*/	
}

a.pageLink:hover, a.pageLink:active {
	font-weight:normal;
	text-decoration:underline;
	margin: 0 2px;
/*	color:#FF6600;*/	
}


.tdFooter{
	padding: 5px;
	text-align:left;
/*	background-color: */	
}



/* SEARCH   -------------------------------------------*/
.tdTitSearch{
	width: 22%;	
	display:inline;
	clear:right;
	font-weight:bold;
	text-align:left;
	padding-left: 30px;
	padding-bottom:10px;
/*	background-color:
	background-image:
	background-position:
	background-repeat:
	color:*/	
}
.tdSearch{
	width: 95%;
	height: 35px;	
	text-align:left;
	padding: 4px;
	vertical-align:middle;
/*	background-color:
	color: */
}

/* NEW! */
#divSearch{
	width: 80%;
	float:left;
	position:relative;
	margin: 8px 0 0 30px;   /* ie */
}

.tdSearch input{
	font-size:1.1em;
	margin-top: 0;
/*	color: 
	border: */
}
.tdSearch img{
	margin:0;
}



a.tdSearchButton:link, 
a.tdSearchButton:visited  {
	width:auto;
	display:inline;
	padding: 0px 5px;
	margin: 0 0 0 3px;
	font-size: 1.1em;
	font-weight:bold;
	text-decoration:none;	
/*	border: 
	color: 
	background-image:
	background-position:
	background-repeat: 
	background-color: */

}
a.tdSearchButton:hover, 
a.tdSearchButton:active  {
/*	color:
	background-color:
	background-image: */
}

/* -------------------------------------------------------------------*/ 

/* MENU NAVEGACION   */

/* -------------------------------------------------------------------*/ 
#leftColumn ul { 
	margin:0;   /*   styles-ie*/
	width: 150px;
/*	background-color:   */
}

#leftColumn li { 
	margin:0;
	list-style: none;
/*	border-bottom: 
	border-top: 	*/	
}
#leftColumn li a { 
	width:135px; /* 150px styles-ie6.css*/
	height:auto;
	display:block;
	font-size:1.2em;
	padding: 4px 0px 4px 0px;
	padding: 4px 3px 4px 10px;
	text-align:left;
	text-decoration:none;
	list-style-position:outside;
	vertical-align:top;
/*	color: */
}
#leftColumn li a:hover { 
	width:135px;  /* 150px stylres-ie6.css*/
	height:auto;
/*	background-color:
	background-image:
	background-position:
	background-repeat: */
}


.titleMenu { 
	margin:0;
	padding: 5px;
	font-size:1.2em;
	text-transform:uppercase;
	font-weight:bold;	
}



#logout{
	width: 147px;
	height: 31px;
	display:block;
/*	background-image:
	background-position:
	background-repeat: */
	margin: 15px 0 0 2px;
}


/*  BOX VARIABLES   ----------------------------------- */
#boxVariables{
	width:97%;
	height:auto;
	margin: 10px 0 20px 0;
	padding: 10px;
/*	background-color:
	color:	
	border: */
}


#boxVariables ul{
	padding-left: 10px;
}

/*  INITIAL UL*/
#boxVariables ul li{
	font-weight:bold;
/*	text-transform:uppercase; */
	font-size: 1.3em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 10px;
	margin-top:5px;
/*	color
	background-image:
	background-position:
	background-repeat:*/

}

/*FIRST UL */
#boxVariables ul li ul li{
	font-weight:bold;
/*	text-transform:uppercase; */
	font-size: 1em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 10px;
	
/*	color:
	background-image:
	background-position:
	background-repeat:*/

}

/* SECOND UL */
#boxVariables ul li ul li ul li{
	font-weight:normal;
	text-transform: none;	
	font-size: 1.0em ; /* 11px/13px = 1.1818em*/
	list-style: none;
	padding-left: 15px;		
	margin-bottom: 0;	
/*	color:
	background-image:
	background-position:
	background-repeat: */	
}
/* THIRD UL  */
#boxVariables ul li ul li ul li ul li{
	font-weight:normal;
	text-transform: none;		
	font-size: 1.0em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 0;
/*	color:
	background-image:
	background-position:
	background-repeat*/	
}

/* Boton Atributo ------------------*/
#boxVariables a{
	font-size: 1em;
	font-weight:normal;
	text-transform:none;
	width:14px;
	height: 14px;
	margin: 0 5px;
	padding: 0 7px 3px 16px;
	display:inline;
	clear:left;	
}

#boxVariables a.atributo:link,
#boxVariables a.atributo:visited {
	text-decoration: none;
/*	background-image:
	background-position:
	background-repeat:  */	
}
#boxVariables a.atributo:hover,
#boxVariables a.atributo:active {
	text-decoration:underline;
}

/* Boton Seccion ------------------*/
#boxVariables a.seccion:link,
#boxVariables a.seccion:visited {
	text-decoration:none;
/*	background-image:
	background-position:
	background-repeat: */	
}
#boxVariables a.seccion:hover,
#boxVariables a.seccion:active {
	text-decoration:underline;
}


/* Boton ELIMNINAR SECCION ------------------*/
#boxVariables a.eliminar1:link,
#boxVariables a.eliminar1:visited {
/*	color: 
	background-image:
	background-position:
	background-repeat: */
	text-decoration:none;
}
#boxVariables a.eliminar1:hover,
#boxVariables a.eliminar1:active {
	text-decoration:underline;
}


/* Boton ELIMNINAR ATRIBUTO ------------------*/
#boxVariables a.eliminar2:link,
#boxVariables a.eliminar2:visited {
	text-decoration:none;
/*	color: 
	background-image:
	background-position:
	background-repeat:*/
}
#boxVariables a.eliminar2:hover,
#boxVariables a.eliminar2:active {
	text-decoration:underline;
}

.textboxVariables{
	font-size: 1em;
	height:12px;
	padding-left: 5px;
/*	border:*/	
}

.linksEdicion{
	clear:left;
	display:inline;
}

/*  AGREGADOS -----------------------------------------------*/


#projectFilter label{	
	color:#0066CC;
	font-weight:bold;
}

/*  BOTON DE FIELDSET  */
#fieldsetButton{
	float:left;
	display:block;
	margin: 0 0 0 125px;
	text-align:left;
}

fieldset li {
	margin-left: 35px;
}