body {
	background-color: #e7ecf2;
	background-image: url(../images/bkg_panel.png);
	background-position:top left;
	background-repeat:repeat-x;
	background-attachment: fixed;
	font-size:77%; /* this makes the text sized at 10px */
}
/*  LOGIN  -----------------------------------------------*/
#login { 
}
#loginTop { 
	background-image:url(../images/loginTop.png);
	background-position: top center;
	background-repeat:no-repeat;
}
#loginContent, #passRecovery { 
	background-image:url(../images/loginContent.png);
	background-position: top center;
	background-repeat:repeat-y;
}
#loginContent h1, #passRecovery h1, #passRecovery h2 { 
	color: #000066;
}
#loginContent p, #passRecovery p{ 
	color: #000000;
}
#loginContent input, #passRecovery input { 
	border: solid 1px #000066;
}
#loginButton { 
	background-image:url(../images/buttonImageLogin.png);
	background-position: top center;
	background-repeat:no-repeat;
	color: Navy;
	border: none !Important;
}
#lostPassword a, #lostPassword a:visited { 
	color: #003399;
}
#loginBottom { 
	background-image:url(../images/loginBottom.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}
/*  /LOGIN  -----------------------------------------------*/

/* wrapper -----------------------------------------------------------*/ 
#wrapper { 
}
#header {
	background-image: url(../images/topImage.png);
	background-position: left 20px;
	background-repeat: no-repeat;
}
#contentWrapper { 
	background-image: url(../images/bkg-2columns.gif);
	background-repeat: repeat-y;
}
#contentCloser { 
	background-image: url(../images/bkg-2columns.gif);
	background-repeat: repeat-y;
}
#leftColumn{
	color: #333;
	background-image:url(../images/leftcolumn_bottom.jpg);
	background-position: left bottom;
	background-repeat:no-repeat;
	padding-bottom: 150px;
	vertical-align:top;
}
#rightColumn { 
	background-color: #FFFFFF;
	color: #333;
}
#footer { 
	background-color: #9ccc66;
	border-bottom: solid 5px #0066cc;
	border-left: solid 5px #0066cc;
	border-right: solid 5px #0066cc;
}
#footer p{
	color: #ffffff;
}
/* /wrapper -----------------------------------------------------------*/ 

/* content -----------------------------------------------------------*/ 
#rightColumn h1{
	color:#0066CC;
	padding-bottom: 0px !Important;
	border-bottom: solid 1px #0066cc;
}
#rightColumn h2{
	color:#999;
}
#rightColumn h3, h4 {
	color:#0066CC;
	margin-bottom: 5px !Important;
}
#rightColumn h2 a:link, #rightColumn h2 a:visited{
	color: #003399;
}
#rightColumn h2 a:hover, #rightColumn h2 a:active{
	color: #0000FF;
}
#rightColumn p{
	color:#000;
}
.paragraphEdit{
	background-image:url(../images/icon_write.gif);
	background-repeat:no-repeat;
	background-position:left top;
}
/* /content -----------------------------------------------------------*/ 

/*   OTROS LINKS   ------------------------*/

/* posiciona el link de "AGREGAR NUEVA ..." y VOLVER */
.rightLink{
}
/* BOTON AGREGAR NUEVA ...  */
a.agregarNueva:link, a.agregarNueva:visited {
	background-image:url(../images/icon_more.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

a.agregarNueva:hover, a.agregarNueva:active {
	color:#009900;}
/* /BOTON AGREGAR NUEVA ...  */


/* BOTON VOLVER  */
a.volver:link, a.volver:visited {
}

a.volver:hover, a.volver:active {
	color:#009900;
}
/* /BOTON VOLVER  */

/* BOTON EDITAR ...  */
a.editarRight:link, a.editarRight:visited {
	background-image: url(../images/icon_editar_small.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

a.editarRight:hover, a.editarRight:active {
	color:#009900;}
/* /BOTON AGREGAR NUEVA ...  */


	
/* PAGINADO    ----------------------------*/
.pages{	
	background-color: #FFF;
	color:#0066CC;
}

a.pageLink:link, a.pageLink:visited {
	color:#666;
}

a.pageLink:hover, a.pageLink:active {
	color:#0066CC;
}


.tdFooter{
	background-color:#eaeee8;
}



/* SEARCH   -------------------------------------------*/
.tdTitSearch{
background-color: #f4f6f3;
	background-image:url(../images/icon_search.gif);
	background-position:8px 2px;
	background-repeat:no-repeat;
	color: #0066CC;
}
.tdSearch{
	background-color: #f4f6f3;
	color: #000000;
}

.tdSearch input{
	color: #333;
	border: solid 1px #a7a6aa;
}

.tdSearch img{
}



a.tdSearchButton:link, 
a.tdSearchButton:visited  {
	border: solid 1px #a7a6aa;
	color: #333;
	
	background-image:url(../images/bot_bkg.gif);
	background-position:left top;
	background-repeat: repeat-x;	
	background-color:#d2d0c3;
}
a.tdSearchButton:hover, 
a.tdSearchButton:active  {
	color: #FFFFFF;
	background-color:#999999;
	background-image: none;
}

/* -------------------------------------------------------------------*/ 

/* MENU NAVEGACION   */

/* -------------------------------------------------------------------*/ 
#leftColumn ul { 
	background-color: #e7ebf0;
}

#leftColumn li { 
	border-bottom: solid 1px #FFF;
/*	border-top: solid 1px #FFF;	*/
}
#leftColumn li a { 
	color: #000;
}
#leftColumn li a:hover { 
	background-color:#d3dbe4;
	background-image:url(../images/list-image_arrow1.gif);
	background-position:3px 6px;
	background-repeat:no-repeat;
}
#leftColumn li a.titleLink, #leftColumn li a.titleLink:hover{ 
	color: #003399;
	background-color: #bdcad7;
	background-image: none;
}
.titleMenu { 
	color: #003399;
	background-color: #bdcad7;
	background-image:url(../images/tit1_bkg.gif);
	background-repeat:repeat-X;
	background-position: left top;
	border-top: solid 1px #DBFFFF;
	border-bottom: solid 1px #4d667f;
	border-left: none;
	border-right: none;
}
#logout{
	background-image:url(../images/bot_salir.gif);
	background-position: top left;
	background-repeat:no-repeat;
}


/*  BOX VARIABLES   ----------------------------------- */
#boxVariables{
	background-color: #f4f6f3;
	color:#000;		
	border: solid 1px #999;
}


#boxVariables ul{
}

/*  INITIAL UL*/
#boxVariables ul li{
	color:#000;
	background-image:url(../images/bullet-0.gif);
	background-position:0 4px;
	background-repeat:no-repeat;
}

/*FIRST UL */
#boxVariables ul li ul li{
	color:#0066CC;
	background-image:url(../images/bullet-1.gif);
	background-position:0 4px;
	background-repeat:no-repeat;
}

/* SECOND UL */
#boxVariables ul li ul li ul li{
	color:#000;
	background-image:url(../images/bullet-2.gif);
	background-position:0 4px;
	background-repeat:no-repeat;
}
/* THIRD UL  */
#boxVariables ul li ul li ul li ul li{
	color:#000;
	background-image:url(../images/bullet-1.gif);
	background-position:0 4px;
	background-repeat:no-repeat;
}

/* Boton Atributo ------------------*/
#boxVariables a{
}

#boxVariables a.atributo:link,
#boxVariables a.atributo:visited {
	background-image:url(../images/add-comment-blue.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#boxVariables a.atributo:hover,
#boxVariables a.atributo:active {
}

/* Boton Seccion ------------------*/
#boxVariables a.seccion:link,
#boxVariables a.seccion:visited {
	background-image:url(../images/add-folder-green.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#boxVariables a.seccion:hover,
#boxVariables a.seccion:active {
}


/* Boton ELIMNINAR SECCION ------------------*/
#boxVariables a.eliminar1:link,
#boxVariables a.eliminar1:visited {
	color: #FF0000;
	background-image:url(../images/delete-folder-green.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#boxVariables a.eliminar1:hover,
#boxVariables a.eliminar1:active {
}


/* Boton ELIMNINAR ATRIBUTO ------------------*/
#boxVariables a.eliminar2:link,
#boxVariables a.eliminar2:visited {
	color: #FF0000;
	background-image:url(../images/delete-comment-blue.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#boxVariables a.eliminar2:hover,
#boxVariables a.eliminar2:active {
}

.textboxVariables{
	border: solid 1px #999;
}

.linksEdicion{
}

.flagGreen {
	background: Green;
	color: White;
	font-weight: bold;
	width: 40px;
	min-width: 40px;
	text-decoration: none;
}
.flagYellow {
	background: Yellow;
	color: White;
	font-weight: bold;
	width: 40px;
	min-width: 40px;
	text-decoration: none;
}
.flagRed {
	background: Red;
	color: White;
	font-weight: bold;
	width: 40px;
	min-width: 40px;
	text-decoration: none;
}
.whiteNoDecoration {
	color: White ;
	text-decoration: none;
}
a.whiteNoDecoration {
	color: White ;
	text-decoration: none;
}
a.whiteNoDecoration:link {
	color: White ;
	text-decoration: none;
}
a.whiteNoDecoration:hover {
	color: White;
	text-decoration: none;
}
a.whiteNoDecoration:hover {
	color: White;
	text-decoration: none;
}
a.blackNoDecoration:link {
	color: Black;
	text-decoration: none;
}
a.blackNoDecoration:hover {
	color: Black;
	text-decoration: none;
}
a.blackNoDecoration:visited {
	color: Black;
	text-decoration: none;
}








/* TABLES   -------------------------------------------*/
table{
}
.row_odd {
	background: #BFD3FF; /* #BFD3FF o #AFC3FE  #FFCBCB*/
}
.row_even {
	background: #D6DBE9; /* #D6DBE9 o #C6CBD9*/
}
table.tableTdBorders th {
	color:#0066CC;
	border: 1px solid #A9A9A9;
	padding: 5px;
}
table.tableTdBorders td {
	border: 1px solid #A9A9A9;
	padding: 4px;
}
.tdBorders {
	border: 1px solid #112139;
}
.thFillTitle {
	background-color: #f4f6f3;
	color: #0066CC;
}
/* /TABLES   -------------------------------------------*/

.mandatory {
	display: inline;
	vertical-align: top;
	color: #FF0000;
}
.deactivated {
	color: #999999;
}
.edit {
	color: #007D62;
}
a.edit:link{
	color: #007D62;
}
a.edit:visited{
	color: #007D62;
}
a.edit:hover{
	color: #FFFFFF;
	background-color: #44A08C;
}
.delete {
	color: #CF2600;
}
a.delete:link{
	color: #CF2600;
}
a.delete:visited{
	color: #CF2600;
}
a.delete:hover{
	color: #FFFFFF;
	background-color: #D54322;
}
.data {
	color: #000000;
}
a.data:link{
	color: #505050;
}
a.data:visited{	
	color: #505050;
}
a.data:hover{
	color: #FFFFFF;
	background-color: #505050;
}
.detail {
	color: #000066;
}
a.detail:link{
	color: #000066;
}
a.detail:visited{
	color: #000066;
}
a.detail:hover{
	color: #FFFFFF;
	background-color: #000066;
}
.buttonImageLogin {
	font-size: 0px !Important;
	width: 100px;
	height: 55px;
	color: #ffffff !Important;
	background-color: transparent;
	border: none;
	background: url(../images/buttonImageLogin.png) no-repeat center;
	cursor: pointer;	
}
.errorMessage {
	color: #B22222;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #B22222;
	text-align: center;
}
.successMessage {
	color: #007D62;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #007D62;
	text-align: center;
}
fieldset {  
	background-color: #f7f7f8;
}
legend {  
	color:#0066CC
}
.read {
	color: Blue;
}
.unread{
	color: Green;
	font-weight: bold;
}

/* mapa google */
#map_canvas {
	height: 560px !Important;
}

#addresses_list li:hover {
	cursor: move;
}


#helpMap {
	background-color:#FFFFFF;
	border:#0066cc 1px solid;
	-khtml-border-radius: 10px;
	-opera-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
