/*  LOGIN  -----------------------------------------------*/
#login { 
	float:left;
	display:block;
	margin:30px auto 0 auto;
	width:100%;
	padding:0;
	text-align:center;
}
#loginTop { 
	width: 360px;
	height: 104px;
	padding: 0;
	margin: 0 auto;
}
#loginContent { 
	width: 360px;
	height: auto;	
	margin: auto;
	text-align:left;
}
#loginContent h1{ 
	font-weight: bold;
	font-size: 1.4em;
	padding-left: 25px;
}
#loginContent p{ 
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}
#loginContent input { 
	width: 300px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 1.2em;
}
#loginButton { 
	width: 100px !Important;
	height: 55px !Important;
	margin: 0 auto 0 auto !Important;
	background-color: transparent !Important;
	border: none !Important;
	font-size: 0px !Important;
	cursor: pointer !Important;
	text-align:center !Important;
}
#loginButtonDiv { 
	width:360px;
	margin: 0 auto 0 auto !Important;
	text-align:center !Important;
}
#lostPassword {
	width:360px;
	text-align:right;
}
#lostPassword a { 
	padding-right:30px;
	text-decoration: none;
}
#lostPassword a:hover { 
	padding-right:30px;
	text-decoration: underline;
}
#loginBottom { 
	width: 360px;
	height: 175px;	
	margin: auto;
	padding: 0;
}
/*  /LOGIN  -----------------------------------------------*/

/* wrapper -----------------------------------------------------------*/ 
#wrapper { 
	margin: 0 auto;
	width: 955px;
	padding: 0 0 0 0; /*  1px necesary to show margin-bottom of footer n FF*/
}
#header {
	width: 955px;
	height: 98px;
	margin: 0;
	padding: 0;
	display: block;
}
#header a{
	width:115px;
	height: 63px;
	 float: left;
	 display: block;
	 margin: 38px 0 0 8px;
}
#header a strong{
	 display:none;
}
#contentWrapper { 
	width: 955px;
	margin: auto;
	padding: 0px 0px 0px 0px; /*  1px necesary to show margin-bottom of footer n FF*/
}
#contentCloser { 
	width: 955px;
	margin: auto;
	clear: both;
	display: block;
}
#leftColumn { 
	clear: both;
	width: 150px;
	float: left;
	border: none;
	margin: 0px 5px 5px 5px;
	padding: 0px;
}

#rightColumn { 
	float: right;
	width: 760px;   /* ie6*/ /*ie7*/ 
	display: inline;
	border: none;
	margin: 0 5px 5px 0;
	padding: 15px;
}
#footer { 
	width: 945px; /* 955px - 5leftBorder - 5px rightBorder*/
	height: 20px;
	clear: both;
	border: none;
}
#footer p{
	font-size:1em;
	text-align:right;
	padding: 3px 5px 0 0 ;
}
/* /wrapper -----------------------------------------------------------*/ 

/* content -----------------------------------------------------------*/ 
#rightColumn h1{
	font-size: 1.7em;
	font-weight:bold;
	padding-bottom: 5px;
	margin-bottom:15px;
}
#rightColumn h2{
	font-size:1.2em;
	font-weight:normal;
	margin-bottom: 5px;
}
#rightColumn h3 {
	font-size: 1.5em;
	font-weight:bold;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom:15px;
}
#rightColumn h4 {
	font-size: 1.4em;
	font-weight:bold;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom:15px;
}
#rightColumn h2 a:link, #rightColumn h2 a:visited{
	font-size: inherit;
	font-weight:normal;
	text-decoration:none;
}
#rightColumn h2 a:hover, #rightColumn h2 a:active{
	font-size: inherit;
	font-weight:normal;
	text-decoration:underline;	
}
#rightColumn p{
	width: 570px;
	font-size: 1.2em; /*NEW, px to em*/
	margin-bottom: 10px;
	padding-right: 10px;
}
.paragraphEdit {
	padding-left: 25px;
}
/* /content -----------------------------------------------------------*/ 

.tableTdBorders {
	border-collapse: collapse;
}
.noPaddingCell {
	padding: 0px;
}




.errorMessage {
	color: #B22222;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #B22222;
	text-align: center;

}
.successMessage {
	color: #007D62;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #007D62;
	text-align: center;
}

.tdTitle {
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
	margin: 7px 3px 5px 3px;
}


.deactivated {
	text-decoration: none;
}
.paginateText {
	display: inline;
	padding: 3px;
}






.edit {

	text-decoration: underline;
}
a.edit:link{
	text-decoration: underline;
}
a.edit:visited{
	text-decoration: underline;
}
a.edit:hover{
	text-decoration: underline;
}
.delete {
	text-decoration: underline;
}
a.delete:link{
	text-decoration: underline;
}
a.delete:visited{
	text-decoration: underline;
}
a.delete:hover{
	text-decoration: underline;
}
.data {
}
a.data:link{
	text-decoration: underline;
}
a.data:visited{	
	text-decoration: underline;
}
a.data:hover{
	text-decoration: underline;
}
.detail {
	text-decoration: underline;
}
a.detail:link{
	text-decoration: underline;
}
a.detail:visited{
	text-decoration: underline;
}
a.detail:hover{
	text-decoration: underline;
}
.cellTextOptions {
	text-align: center;
}
.tdTextOptions {
	text-align: center;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.top {
	vertical-align: top; 
}
.middle {
	vertical-align: middle; 
}
.bottom {
	vertical-align: bottom; 
}
.buttonSmall {
	font-size: .80em;
	height: 1.80em;
}
fieldset {
	padding: 8px;
	margin-bottom: 2em; /* IE 3.5em */
	position: relative;
}
fieldset legend {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	position: relative;  
	top: -1.4em;
	margin-left: -.3em;
	padding: .2em;
}
fieldset label {
	width: 140px;
	float: left;
	font-weight: bold;
	vertical-align: text-top;
	text-align: right;
	height: auto;
	padding-top: 0;
	margin-bottom: 0;
	padding-right: 5px;
	padding-bottom: 5px;
	display: block;
}
fieldset p {
	display: block;
	height: auto;
	clear: both;
}
fieldset fieldset legend {  
	background-color: transparent;
}
fieldset fieldset label {
	width: 30px;
	font-weight: bold;
	display: inline;
}
fieldset fieldset {
	padding: 5px;
	width: 40%;
	margin-left: 120px;
}
fieldset fieldset label {
	font-weight: bold;
	display: inline;
}
fieldset li {
	margin-left: 35px;
}



fieldset {  
	position: relative;
}

legend {  
	margin-bottom: 0.5em;
	position: relative;  
	top: -1.5em;
	margin-left: -.5em;
	padding: .2em;
}

fieldset fieldset legend {  
	background-color: transparent;
}

.inProgress {
	font-weight: bold;
	color: #D2691E !Important;
	text-decoration: blink;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 30px;
	background: url(../images/spinner.gif) no-repeat;
}
.resultSuccess {
	font-weight: bold;
	color: #00008B;
	padding-left: 30px;
	padding-right: 30px;
}
.resultFailure {
	font-weight: bold;
	color: #B22222;	
	padding-left: 30px;
	padding-right: 30px;
}
option{
	padding-right: 5px;
	background: #FCFCFC;
}


#addressesList li:hover {
	cursor: move;
}

/*   TABLES   ------------------------------*/
/*   OTROS LINKS   ------------------------*/

/* posiciona el link de "AGREGAR NUEVA ..." y VOLVER */
.rightLink{
	float:right;
	display:inline;
	clear:left;
}
/* PAGINADO    ----------------------------*/
.pages{	
	height: 37px;
	font-size: 0.9em;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
a.pageLink:link, a.pageLink:visited {
	font-weight:normal;
	text-decoration:underline;
	margin: 0 2px;
}
a.pageLink:hover, a.pageLink:active {
	font-weight:normal;
	text-decoration:underline;
	margin: 0 2px;
}
.tdFooter{
	padding: 5px;
	text-align:left;
}
/* /PAGINADO    ----------------------------*/

/* SEARCH   -------------------------------------------*/
.tdTitSearch{
	width: 22%;	
	display:inline;
	clear:right;
	font-weight:bold;
	text-align:left;
	padding-left: 30px;
	padding-bottom:10px;
}
.tdSearch{
	width: 95%;
	height: 35px;	
	text-align:left;
	padding: 4px;
	vertical-align:middle;
}
#divSearch{
	width: 80%;
	float:left;
	position:relative;
	margin: 8px 0 0 30px;   /* ie */
}
.tdSearch input{
	font-size:1.1em;
	margin-top: 0;
}
.tdSearch img{
	margin:0;
}
a.tdSearchButton:link, 
a.tdSearchButton:visited  {
	width:auto;
	display:inline;
	padding: 0px 5px;
	margin: 0 0 0 3px;
	font-size: 1.1em;
	font-weight:bold;
	text-decoration:none;	
}
a.tdSearchButton:hover, 
a.tdSearchButton:active  {
}
/* /SEARCH   -------------------------------------------*/

/* -------------------------------------------------------------------*/ 
/* MENU NAVEGACION   */
/* -------------------------------------------------------------------*/ 
#leftColumn ul { 
	margin:0;   /*   styles-ie*/
	width: 150px;
}
#leftColumn li { 
	margin:0;
	list-style: none;
}
#leftColumn li a { 
	width:135px; /* 150px styles-ie6.css*/
	height:auto;
	display:block;
	font-size:1.2em;
	padding: 4px 0px 4px 0px;
	padding: 4px 3px 4px 10px;
	text-align:left;
	text-decoration:none;
	list-style-position:outside;
	vertical-align:top;
}
#leftColumn li a:hover { 
	width:135px;  /* 150px stylres-ie6.css*/
	height:auto;
}
#leftColumn li a.titleLink, #leftColumn li a.titleLink:hover{ 
	padding:0;
	margin:0;
	list-style: none;
}
.titleMenu { 
	margin:0;
	padding: 5px;
	font-size:1.2em;
	text-transform:uppercase;
	font-weight:bold;	
}
#logout{
	width: 147px;
	height: 31px;
	display:block;
	margin: 15px 0 0 2px;
}

/*  BOX VARIABLES   ----------------------------------- */
#boxVariables{
	width:97%;
	height:auto;
	margin: 10px 0 20px 0;
	padding: 10px;
}
#boxVariables ul{
	padding-left: 10px;
}
/*  INITIAL UL*/
#boxVariables ul li{
	font-weight:bold;
	font-size: 1.3em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 10px;
	margin-top:5px;
}
/*FIRST UL */
#boxVariables ul li ul li{
	font-weight:bold;
	font-size: 1em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 10px;
}
/* SECOND UL */
#boxVariables ul li ul li ul li{
	font-weight:normal;
	text-transform: none;	
	font-size: 1.0em ; /* 11px/13px = 1.1818em*/
	list-style: none;
	padding-left: 15px;		
	margin-bottom: 0;	
}
/* THIRD UL  */
#boxVariables ul li ul li ul li ul li{
	font-weight:normal;
	text-transform: none;		
	font-size: 1.0em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 0;
}
/* Boton Atributo ------------------*/
#boxVariables a{
	font-size: 1em;
	font-weight:normal;
	text-transform:none;
	width:14px;
	height: 14px;
	margin: 0 5px;
	padding: 0 7px 3px 16px;
	display:inline;
	clear:left;	
}
#boxVariables a.atributo:link,
#boxVariables a.atributo:visited {
	text-decoration: none;
}
#boxVariables a.atributo:hover,
#boxVariables a.atributo:active {
	text-decoration:underline;
}
/* Boton Seccion ------------------*/
#boxVariables a.seccion:link,
#boxVariables a.seccion:visited {
	text-decoration:none;
}
#boxVariables a.seccion:hover,
#boxVariables a.seccion:active {
	text-decoration:underline;
}
/* Boton ELIMNINAR SECCION ------------------*/
#boxVariables a.eliminar1:link,
#boxVariables a.eliminar1:visited {
	text-decoration:none;
}
#boxVariables a.eliminar1:hover,
#boxVariables a.eliminar1:active {
	text-decoration:underline;
}
/* Boton ELIMNINAR ATRIBUTO ------------------*/
#boxVariables a.eliminar2:link,
#boxVariables a.eliminar2:visited {
	text-decoration:none;
}
#boxVariables a.eliminar2:hover,
#boxVariables a.eliminar2:active {
	text-decoration:underline;
}
.textboxVariables{
	font-size: 1em;
	height:12px;
	padding-left: 5px;
}
.linksEdicion{
	clear:left;
	display:inline;
}
/*  AGREGADOS -----------------------------------------------*/
#projectFilter label{	
	color:#0066CC;
	font-weight:bold;
}
/*  BOTON DE FIELDSET  */
#fieldsetButton{
	float:left;
	display:block;
	margin: 0 0 0 125px;
	text-align:left;
}

fieldset li {
	margin-left: 35px;
}

#boxVariables .configIcon {
	padding: 0;
	margin: 0 2px 0 2px !Important; 
	width: 14px;
	height: 14px;
}
